
@{
	ViewData["Title"] = "Confirmação de Exclusão";
}

<div class="text-center">
	<h3>Você realmente deseja apagar o contato {nome}?</h3>
</div>

<a role="button" class="btn btn-light" asp-controller="Contato" asp-action="Index">Cancelar</a>
<a role="button" class="btn btn-dark" asp-controller="Contato" asp-actionn="Apagar">Apagar</a>