
@{
	ViewData["Title"] = "Confirmação de Exclusão";
}

<div class="text-center">
	<h3>Você realmente deseja apagar o contato {nome}?</h3>
</div>

<a role="button" class="btn btn-light">Cancelar</a>
<a role="button" class="btn btn-dark">Apagar</a>