@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div class="text-center">
    <h1 class="display-4">Listagem de Contatos</h1>
</div>

<div id="lista-de-contatos">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Celular</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>mark@gmail.com</td>
                <td>11 99122-8374</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>jacob@gmail.com</td>
                <td>13 98902-0110</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>larry@gmail.com</td>
                <td>21 94209-3121</td>
            </tr>
        </tbody>
    </table>
</div>
